<form role="form" class="form-signin" action="login" method="post" id="login">
	<h2 class="form-signin-heading">Change Password</h2>
	<label class="control-label"></label>

	<div class="form-group">
		<input type="password" class="form-control" placeholder="Old Password" autofocus="" name="oldpass">
		<input type="password" class="form-control" placeholder="New Password" name="newpass">
		<input type="password" class="form-control" placeholder="Re-enter New Password" name="newpass">
	</div>
						
	<div class="btns-group">
		<div class="row">
			<div class="col-lg-1"></div>
			<button type="submit" class="col-lg-5 btn btn-success">Save</button>
			<button type="button" class="col-lg-5 btn btn-default">Cancel</button>
			<div class="col-lg-1"></div>
		</div>		
	</div>
</form>