              <div class="mail-box">
                  <aside class="sm-side">
                      <div class="user-head">
					  
						<form class="position" action="#">
                              <div class="input-append">
                                  <input type="text"  placeholder="Search Mail" class="sr-input">
                                  <button type="button" class="btn sr-btn"><i class="icon-search"></i></button>
                              </div>
                        </form>
					  
                        <!--  
						  <a class="btn btn-compose" data-toggle="modal" href="#myModal">
                              Compose
                          </a>
						-->
                      </div>
					  <!-- Modal -->
					  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						  <div class="modal-dialog">
							  <div class="modal-content">
								  <div class="modal-header">
									  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
									  <h4 class="modal-title">Compose</h4>
								  </div>
								  <div class="modal-body">
									  <form class="form-horizontal" role="form">
										  <div class="form-group">
											  <label  class="col-lg-2 control-label">To</label>
											  <div class="col-lg-10">
												  <input type="text" class="form-control" id="inputEmail1" placeholder="">
											  </div>
										  </div>
										  <div class="form-group">
											  <label  class="col-lg-2 control-label">Cc / Bcc</label>
											  <div class="col-lg-10">
												  <input type="text" class="form-control" id="cc" placeholder="">
											  </div>
										  </div>
										  <div class="form-group">
											  <label class="col-lg-2 control-label">Subject</label>
											  <div class="col-lg-10">
												  <input type="text" class="form-control" id="inputPassword1" placeholder="">
											  </div>
										  </div>
										  <div class="form-group">
											  <label class="col-lg-2 control-label">Message</label>
											  <div class="col-lg-10">
												  <textarea name="" id="" class="form-control" cols="30" rows="10"></textarea>
											  </div>
										  </div>

										  <div class="form-group">
											  <div class="col-lg-offset-2 col-lg-10">
												  <span class="btn green fileinput-button">
													<i class="icon-plus icon-white"></i>
													<span>Attachment</span>
													<input type="file" multiple=""  name="files[]">
												  </span>
												  <button type="submit" class="btn btn-send">Send</button>
											  </div>
										  </div>
									  </form>
								  </div>
							  </div><!-- /.modal-content -->
						  </div><!-- /.modal-dialog -->
					  </div><!-- /.modal -->
                      <ul class="nav nav-pills nav-stacked labels-info chat-guest-list" id="chat-guest-list">
                          <li class="inbox-divider chat-guest-head"> 
							  <a class="inbox-avatar">
								<img src="image/guest.jpg" alt="">
							  </a>
							  <div class="chat-guest-name">
								  <h5><a href="#">Tawseef</a></h5>
								  <span><a href="#">I do not think</a></span>
							  </div>
						  </li>
                          <li class="inbox-divider chat-guest-head">
							  <a class="inbox-avatar">
								<img src="image/guest1.jpg" alt="">
							  </a>
							  <div class="chat-guest-name">
								  <h5><a href="#">Sumon</a></h5>
								  <span><a href="#">Busy with coding</a></span>
							  </div>
						  </li>
                          <li class="inbox-divider chat-guest-head">
							  <a class="inbox-avatar">
								<img src="image/guest2.jpg" alt="">
							  </a>
							  <div class="chat-guest-name">
								<h5><a href="#">Jhone Doe</a></h5>
                                <span><a href="#">I do not think</a></span>
							  </div>
						  </li>
                          <li class="inbox-divider chat-guest-head">
							  <a class="inbox-avatar">
								<img src="image/guest3.jpg" alt="">
							  </a>
							  <div class="chat-guest-name">
								  <h5><a href="#">Anjelina Joli</a></h5>
								  <span><a href="#">I out of control</a></span>
							  </div>
						  </li>
                          <li class="inbox-divider chat-guest-head">
							  <a class="inbox-avatar">
								<img src="image/guest4.jpg" alt="">
							  </a>
							  <div class="chat-guest-name">
								  <h5><a href="#">Jonathan Smith</a></h5>
								  <span><a href="#">I am not here</a></span>
							  </div>
						  </li>
						  <li class="inbox-divider chat-guest-head"> 
							  <a class="inbox-avatar">
								<img src="image/guest.jpg" alt="">
							  </a>
							  <div class="chat-guest-name">
								  <h5><a href="#">Tawseef</a></h5>
								  <span><a href="#">I do not think</a></span>
							  </div>
						  </li>
                          <li class="inbox-divider chat-guest-head">
							  <a class="inbox-avatar">
								<img src="image/guest1.jpg" alt="">
							  </a>
							  <div class="chat-guest-name">
								  <h5><a href="#">Sumon</a></h5>
								  <span><a href="#">Busy with coding</a></span>
							  </div>
						  </li>
                          <li class="inbox-divider chat-guest-head">
							  <a class="inbox-avatar">
								<img src="image/guest2.jpg" alt="">
							  </a>
							  <div class="chat-guest-name">
								<h5><a href="#">Jhone Doe</a></h5>
                                <span><a href="#">I do not think</a></span>
							  </div>
						  </li>
                          <li class="inbox-divider chat-guest-head">
							  <a class="inbox-avatar">
								<img src="image/guest3.jpg" alt="">
							  </a>
							  <div class="chat-guest-name">
								  <h5><a href="#">Anjelina Joli</a></h5>
								  <span><a href="#">I out of control</a></span>
							  </div>
						  </li>
                          <li class="inbox-divider chat-guest-head">
							  <a class="inbox-avatar">
								<img src="image/guest4.jpg" alt="">
							  </a>
							  <div class="chat-guest-name">
								  <h5><a href="#">Jonathan Smith</a></h5>
								  <span><a href="#">I am not here</a></span>
							  </div>
						  </li>
                      </ul>
				</aside>
				
				<aside class="lg-side">
                      <div class="inbox-head">
                          <div class="user-name">
                              <h2><a href="#">Jonathan Smith</a></h2>
                          </div>
                      </div>
					  <div class="inbox-body">
						<div class="panel-body profile-activity chat-body" id="chat-body">
                              <div class="activity">
								<div class="guest-chat">
                                  <span>
                                      <img src="image/guest.jpg" alt="">
                                  </span>
								</div>
                                  <div class="activity-desk">
                                      <div class="panel">
                                          <div class="panel-body">
                                              <div class="arrow"></div>
                                              <i class=" icon-time"></i>
                                              <h4 class="chat-timestamp"> at 1:55pm, 13th April 2013</h4>
                                              <p>Purchased new equipments for zonal office setup and stationaries.</p>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="activity alt">
                                <div class="user-chat">
                                  <span>
                                      <img src="image/profile.jpg" alt="">
                                  </span>
								</div>
                                  <div class="activity-desk">
                                      <div class="panel">
                                          <div class="panel-body">
                                              <div class="arrow-alt"></div>
                                              <i class=" icon-time"></i>
                                              <h4 class="chat-timestamp"> at 2:01pm, 13th April 2013</h4>
                                              <p>Lorem ipsum dolor sit amet consiquest dio</p>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="activity">
                                <div class="guest-chat">
                                  <span>
                                      <img src="image/guest.jpg" alt="">
                                  </span>
								</div>
                                  <div class="activity-desk">
                                      <div class="panel">
                                          <div class="panel-body">
                                              <div class="arrow"></div>
                                              <i class=" icon-time"></i>
                                              <h4 class="chat-timestamp"> at 2:03pm, 13th April 2013</h4>
                                              <p>Please note which location you will consider, or both. Reporting to the VP  you will be responsible for managing.. </p>
                                          </div>
                                      </div>
                                  </div>
                              </div>

                              <div class="activity alt">
                                <div class="user-chat">
                                  <span>
                                      <img src="image/profile.jpg" alt="">
                                  </span>
								</div>
                                  <div class="activity-desk">
                                      <div class="panel">
                                          <div class="panel-body">
                                              <div class="arrow-alt"></div>
                                              <i class=" icon-time"></i>
                                              <h4 class="chat-timestamp"> at 2:05pm, 13th April 2013</h4>
                                              <p>Please note which location you will consider, or both.</p>
                                          </div>
                                      </div>
                                  </div>
                              </div>
							  
                        </div>
						<div class="chat-form">
							  <div class="input-cont ">
								  <input type="text" class="form-control col-lg-12 chat-input-box" placeholder="Type a message here...">
							  </div>
							  <div class="form-group">
								  <div class="pull-right chat-features">
									  <a class="btn btn-danger" href="javascript:;">Send</a>
								  </div>
							  </div>

						</div>

						
					  </div>
				</aside>
				
			</div>
			