<style>
	h1{
	font-size:40px;
	padding-left:15%;
	}
</style>


<div class="row">
		<div class="col-lg-4"></div>
		<div class="col-lg-4">
		<h1>Congratulations!</h1>
		</div>
		<div class="col-lg-3"></div>
</div>

<div class="row">
		<div class="col-lg-5"></div>
		<div class="col-lg-3">
		<img src="/image/congo.png" width="220" height="190" style="text-align:center;"/>
		</div>
		<div class="col-lg-4"></div>
</div>

<div class="row">
	<div class="col-lg-4"></div>
	<div class="col-lg-5">
	<h4 style="padding-top:2%;line-height:150%">Your new order #FO494505DFKD405 was just created.You can now view your order and communicate with the seller.</h4>
	</div>
	<div class="col-lg-3"></div>
</div>

<div class="row">
	<div class="col-lg-5"></div>
	<div class="col-lg-1">
		<button type="submit" style="text-align:center;margin-left:55%" class="btn btn-success btn-lg">View Order</button>
	</div>
	<div class="col-lg-6"></div>
</div>