    <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top	">
      <div class="row">
		<div class="col-md-1">
		</div>
        <div class="col-md-1">
          <img src="../image/foodbmg.png" alt="" height="55">
        </div>
        <div class="col-md-7">
            <input type="text" class="row" style="width: 100%;height: 36px;margin-top: 10px;font-size: 18px;">
            <button class="btn" type="button" style="position: absolute;top: 11px;">Go!</button>
		</div>
		<div class="col-md-3">
                          <a id='profile-circle' class='button' style="background-image: url('<%= facebook.profile_picture %>?width=200&height=200')" tabindex='1'><span class="badge bg-success">6</span><span class="badge bg-important badge-right">6</span></a>
                          <ul class='tip ctrl'>
                            <li class='slice'><a href='#'><span class="icon-bell-alt"></span>
                              <span class="badge bg-important">5</span></a></li>
                            <li class='slice'><a href='#'><span class="icon-envelope-alt"></span>
                              <span class="badge bg-warning">7</span></a></li>
                            <li class='slice'><a href='#'><span class="icon-wrench"></span></a></li>
                            <li class='slice'><a id="logout-btn" href='#'><span class="icon-off"></span></a></li>
                        </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
