<form role="form" class="form-signin" action="login" method="post" id="login">
	<h2 class="form-signin-heading">Please sign in</h2>
	<label class="control-label"></label>

	<div class="form-group">
		<input type="text" class="form-control" placeholder="Email address" autofocus="" name="email">
		<input type="password" class="form-control" placeholder="Password" name="pass">
	</div>
						
	<div class="btns-group">
		<button class="btn btn-lg btn-primary btn-block" type="submit" id="signin">Sign in</button>
	</div>
</form>