<div class="header">
</div>

<div class="container">

	<div id="Title" style="text-align:center;">
		<h1>&ldquo;A Delicious lunch with the Iyers&rdquo;</h1>
	</div>
	<div class="row-fluid">
		 <div class="col-sm-2">
		 
		 </div>
         <div class="col-sm-6">
             <div class="media" id="Media">
				<video width="500" height="350" controls>
				<source src="movie.ogg" type="video/ogg">
					Your browser does not support the video tag.
				</video>
			</div>
         </div>
		 
         <div class="col-sm-4" >
            <div class="meal-details" data-use="rating" id="rating"  ></div>
			<div class="meal-details" id="shef" >By Shef Name</div>
			<div class="meal-details" id="avgresponse" >Average Response Time</div>
			<div class="meal-details" id="acceptrate" >Acceptance Rate 39%</div>
			<div class="meal-details" id="booknow" ><button class="btn btn-success btn-large">Book Now <i class="icon-white icon-glass"></i></button></div>
		</div>
		
     </div>
	 
	 <div class="row-fluid">
		<div class="col-sm-2">
		 
		</div>
		
		<div class="col-sm-6">
			<div >
				<h2>Description</h2>
			</div>
		</div>
		
		<div class="col-sm-4">
			<div class ="customers" id="customers">
				<h3>People who dine</h3>
			</div>
		</div>
	 
	 
	 </div>
	 
	 
</div>


<div class="footer">
</div>