


	<div class="row">
		
		<div class="col-md-12">
			
			<div class="user-details">
				<img class="user-img" src="<%= url %>../image/profile.jpg">
				<h2 class="user-name"><%= name %></h2>
				<p class="uid"><%= uid %></p>
				<p class="pos-loc"><%= pos %>, <%= loc %></p>
			</div>
		
		</div>
	
	</div>
	
	

	<div class="row">
	
		<div class="break-rule"></div>
		
		<div class="col-md-6 host-meals">
			
			<div class="host-meals">
			
				<!--
				<div class="dish-name">
					<h4>MICHELIN STARRED RESTAURANT DINING WITH A LOCAL CHEF</h4>
				</div>
				-->
					
			</div>
			
		</div>
		
		<div class="col-md-6 host-meals">
			
		</div>
		

				
	</div>
	

	



