	<div class="row">
		<aside class="profile-nav col-lg-3">
			<section class="panel">
				<div class="user-heading round">
					<a href="#">
						<img src="../image/profile.jpg" alt="">
					</a>
					<h1><%= name %></h1>
					<p><%= email %></p>
				</div>
			
				<section class="panel">
					<div class="panel-body bio-graph-info">
						<div class="row">
						<p class="bio-intro"> I am <span>Sobin George Thomas</span> from <span>Mumbai</span> love 
						<span>Cooking and Meeting people</span>. I work as a <span>Waiter</span> in <span>New Mumbai</span>.
						I Speak <span>English, Spanish & Thai</span>
						</p>
					</div>
				</section>
			</section>
		</aside>
		<aside class="profile-info col-lg-9">
		<!--  <section class="panel">
			  <form>
				  <textarea placeholder="Whats in your mind today?" rows="2" class="form-control input-lg p-text-area"></textarea>
			  </form>
			  <footer class="panel-footer">
				  <button class="btn btn-danger pull-right">Post</button>
				  <ul class="nav nav-pills">
					  <li>
						  <a href="#"><i class="icon-map-marker"></i></a>
					  </li>
					  <li>
						  <a href="#"><i class="icon-camera"></i></a>
					  </li>
					  <li>
						  <a href="#"><i class=" icon-film"></i></a>
					  </li>
					  <li>
						  <a href="#"><i class="icon-microphone"></i></a>
					  </li>
				  </ul>
			  </footer>
		  </section>
		  -->
			<section class="panel">
				<div id="c-slide" class="carousel slide auto panel-body">
					<ol class="carousel-indicators out">
						<li class="" data-slide-to="0" data-target="#c-slide"></li>
						<li class="active" data-slide-to="1" data-target="#c-slide"></li>
						<li class="" data-slide-to="2" data-target="#c-slide"></li>
					</ol>
					<div class="carousel-inner">
						<div class="item text-center">
							<h3>Flatlab is new model of Admin</h3>
							<small class="text-muted">Based on Bootstrap 3</small>
						</div>
						<div class="item text-center active">
							<h3>Massive UI Elements</h3>
							<small class="text-muted">Fully Responsive</small>
						</div>
						<div class="item text-center">
							<h3>Well Documentation</h3>
							<small class="text-muted">Easy to Use</small>
						</div>
					</div>
					<a data-slide="prev" href="#c-slide" class="left carousel-control">
						<i class="icon-angle-left"></i>
					</a>
					<a data-slide="next" href="#c-slide" class="right carousel-control">
						<i class="icon-angle-right"></i>
					</a>
				</div>
			</section>
			<section class="panel">
				<div class="bio-graph-heading">
					Aliquam ac magna metus. Nam sed arcu non tellus fringilla fringilla ut vel ispum. Aliquam ac magna metus.
				</div>
			</section>
			<div class="row">
				<div class="col-lg-5">
					<section>
						
						<div class="panel activity-blog">
							<div class="panel-body">
								<div class="welcome">
									<a href="">
										<img src="../image/foodbmg.png" alt="">
									</a>
									<h4>Welcome</h4>
									FoodBMG welcomes <%= name %> 
								</div>
							</div>
							<div class="at-time">August 22 at 12:35am</div>
						</div>
					
						<div class="panel activity-blog">
							<div class="panel-body">
								
								<div class="user-activity">
									<a href="">
										<img src="../image/profile.jpg" alt="">
									</a>
								</div>
								<div class="is-dining">
									<a href="">
										<img src="../image/fork.jpg" alt="">
									</a>
								</div>
								<div class="guest-activity">
									<a href="">
										<img src="../image/guest.jpg" alt="">
									</a>
								</div>
							</div>
							<div class="at-time">August 22 at 12:35am</div>
							
						</div>
					
						<div class="panel activity-blog">
							<div class="panel-body">
								<section class="panel post-wrap pro-box">
									<aside>
										<div class="review-activity">
											<a href="">
												<img src="../image/guest.jpg" alt="">
											</a>
										</div>
									</aside>
									<aside>
										<div class="review-description">
											<i class="icon-quote-left"></i> sdlkmklsad sadcnasl kdcasd clns ldkc sqwdn asd dsicsd dins sdis dciios <i class="icon-quote-right"></i> 
										</div>
									</aside>
								</section>
							</div>
							<div class="at-time">
								August 22 at 12:35am at <span class="at-meal">Meal Name </span>
							</div>
						</div>	
					
						<div class="panel activity-blog">
							<div class="panel-body">
								<div class="level-promotion">
									<a href="">
										<img src="../image/level1.jpg" alt="">
									</a>
									<h4>Level 1</h4>
									<%= name %> has been promoted to Level 1
								</div>
							</div>
							<div class="at-time">August 22 at 12:35am</div>
						</div>
							
						<div class="panel activity-blog">
							<div class="panel-body">
								<div class="badge-gained">
									<a href="">
										<img src="../image/badge.jpg" alt="">
									</a>
									<h4>Badge Name</h4>
									<%= name %> has recieved Badge Name badge
								</div>
							</div>
							<div class="at-time">August 22 at 12:35am</div>
						</div>
						
					</section>
				</div>
				<div class="col-lg-7">
					<section class="panel" style="position: relative;">
						<div class="shadow" style="display:none;">
							<div class="meal-options">
								<button type="button" class="btn btn-round btn-info add-meal">Add Meal</button>
								<button type="button" class="btn btn-round btn-warning add-meal">Edit Meal</button>
								<button type="button" class="btn btn-round btn-danger add-meal">Delete Meal</button>
							</div>
						</div>
						<!--
						<div class="panel-body bio-graph-info">
							<h1>Bio Graph</h1>
							<div class="row">
								<div class="bio-row">
									<p><span>First Name </span>: Jonathan</p>
								</div>
								<div class="bio-row">
									<p><span>Last Name </span>: Smith</p>
								</div>
								<div class="bio-row">
									<p><span>Country </span>: Australia</p>
								</div>
								<div class="bio-row">
									<p><span>Birthday</span>: 13 July 1983</p>
								</div>
								<div class="bio-row">
									<p><span>Occupation </span>: UI Designer</p>
								</div>
								<div class="bio-row">
									<p><span>Email </span>: jsmith@flatlab.com</p>
								</div>
								<div class="bio-row">
									<p><span>Mobile </span>: (12) 03 4567890</p>
								</div>
								<div class="bio-row">
									<p><span>Phone </span>: 88 (02) 123456</p>
								</div>
							</div>
						</div>
						-->
						<!--latest product info start-->
						<section class="panel post-wrap pro-box">
							<aside class="">
								<!--
								<div class="panel-body text-center">
									<div class="pro-thumb">
										<img src="image/dsc4.jpg" alt="">
									</div>
								</div>
								-->
								<div id="meal-carousels" class="carousel slide meal-carousels">
								  <!-- Indicators -->
								  <ol class="meal carousel-indicators">
									<li data-target="#meal-carousels" data-slide-to="0" class="active"></li>
									<li data-target="#meal-carousels" data-slide-to="1"></li>
									<li data-target="#meal-carousels" data-slide-to="2"></li>
								  </ol>

								  <!-- Wrapper for slides -->
								  <div class="carousel-inner">
									<div class="item active">
									  <img src="/image/dsc1.jpg" />
									</div>
									<div class="item">
									  <img src="/image/dsc2.jpg" />
									</div>
									<div class="item">
									  <img src="/image/dsc3.jpg" />
									</div>
								  </div>
								  

								  <!-- Controls -->
								  <a class="left carousel-control" href="#meal-carousels" data-slide="prev">
									<span class="icon-prev"></span>
								  </a>
								  <a class="right carousel-control" href="#meal-carousels" data-slide="next">
									<span class="icon-next"></span>
								  </a>
						
								</div>
							</aside>
							<aside>
								<div class="post-info">
									<span class="arrow-pro left"></span>
									<div class="panel-body">
										<div class="meal-title"><strong>Meal Title</strong></div>
										<div class="meal-rating" data-use="rating"></div>
										<div class="cost"><span>15  <i class="icon-rupee"></i></div>
										<div class="user-meal-description">
											We welcome you to our beautiful apartment in the centre of Barcelona 
											for a traditional Catalan degustation...<a href="">Read more</a>
										</div>
										<button type="button" class="btn btn-success btn-xs">Book Now</button>
										<div class="meal-icons"><span>4  <i class="icon-group"></i></span></div>
									</div>
								</div>
							</aside>
						</section>
						<!--latest product info end-->

						<div class="panel-body">
							<input name="tagsinput" id="tagsinput" class="tagsinput" value="Tasting,Italian,Dinner,Spicy">
						</div>
					</section>
				</div>
			</div>
		</aside>
	</div>
