              <!-- page start-->
	<div class="row">
	<aside class="profile-nav col-lg-3">
		<section class="panel">
			<div class="user-heading round">
				<a href="#">
					<img src="<%= facebook.profile_picture %>?width=200&height=200" alt="">
				</a>
				<h1><%= name %></h1>
				<p><%= email %></p>
			</div>
			
		
			<ul class="nav nav-pills nav-stacked">
				<li><a id="userProfile"> <i class="icon-user"></i> Profile</a></li>
				<!-- <li><a href="profile-activity.html"> <i class="icon-calendar"></i> Recent Activity <span class="label label-danger pull-right r-activity">9</span></a></li> -->
				<li class="active"><a> <i class="icon-edit"></i> Edit profile</a></li>
				<li><a id="userChangePassword"> <i class="icon-lock"></i> Change Password</a></li>
			</ul>
		
		</section>
	</aside>
	  <aside class="profile-info col-lg-9">
		  <section class="panel">
			  <div class="bio-graph-heading">
				  Aliquam ac magna metus. Nam sed arcu non tellus fringilla fringilla ut vel ispum. Aliquam ac magna metus.
			  </div>
			  <div class="panel-body bio-graph-info">
				  <h1> Profile Info</h1>
				  <form class="form-horizontal" role="form">
					  <div class="form-group">
						  <label  class="col-lg-2 control-label">About Me</label>
						  <div class="col-lg-10">
							  <textarea name="bio" id="" class="form-control" cols="30" rows="10" placeholder="Your Bio"><%= bio %></textarea>
						  </div>
					  </div>
					  <div class="form-group">
						  <label  class="col-lg-2 control-label">First Name</label>
						  <div class="col-lg-6">
							  <input type="text" class="form-control" id="fname" name="fname" placeholder="First Name" value="<%= facebook.first_name %>">
						  </div>
					  </div>
					  <div class="form-group">
						  <label  class="col-lg-2 control-label">Last Name</label>
						  <div class="col-lg-6">
							  <input type="text" class="form-control" id="lname" name="lname" placeholder="Last Name" value="<%= facebook.last_name %>">
						  </div>
					  </div>
					  <div class="form-group">
						  <label  class="col-lg-2 control-label">I am a</label>
						  <div class="col-lg-6">
							  <label  class="col-lg-2 control-label">Male</label>
							  <input type="radio" class="form-control" id="male" name="gender" <% if (facebook.gender=="male") { %> checked="checked" <% } %>>
							  <label  class="col-lg-2 control-label">Female</label>
							  <input type="radio" class="form-control" id="female" name="gender" <% if (facebook.gender=="female") { %> checked="checked" <% } %>>
						  </div>
					  </div>
					  <div class="form-group">
						  <label  class="col-lg-2 control-label">My email id is</label>
						  <div class="col-lg-6">
							  <input type="text" class="form-control" id="email" name="email" placeholder="Email" value="<%= email %>">
						  </div>
					  </div>
					  <div class="form-group">
						  <label  class="col-lg-2 control-label">My Phone Number is</label>
						  <div class="col-lg-6">
							  <input type="text" class="form-control" id="phone" name="phone" placeholder="Phone" value="<%= phone %>">
						  </div>
					  </div>
					  <div class="form-group">
						  <label  class="col-lg-2 control-label">I am from</label>
						  <div class="col-lg-6">
							  <input name="city" id="tagsinput" class="tagsinput" value="<%= address.city %>" />
						  </div>
					  </div>
					  <div class="form-group">
						  <label  class="col-lg-2 control-label">I love</label>
						  <div class="col-lg-6">
							  <input name="hobbies" id="tagsinput" class="tagsinput" value="<%= hobbies %>" />
						  </div>
					  </div>
					  <div class="form-group">
						  <label  class="col-lg-2 control-label">I work as</label>
						  <div class="col-lg-6">
							  <input name="work.work" id="tagsinput" class="tagsinput" value="<% if (work.work) {%><%=  work.work%><% } %>" />
						  </div>
					  </div>
					  <div class="form-group">
						  <label  class="col-lg-2 control-label">I work in</label>
						  <div class="col-lg-6">
							  <input name="work.city" id="tagsinput" class="tagsinput" value="<% if (work.city) {%><%= work.city %><% } %>" />
						  </div>
					  </div>
					  <div class="form-group">
						  <label  class="col-lg-2 control-label">I speak</label>
						  <div class="col-lg-6">
							  <input name="languages" id="tagsinput" class="tagsinput" value="<% _.each(facebook.languages, function(language){%><%= language.name %> <% });%>" />
						  </div>
					  </div>
					  <hr>
					  <div class="form-group">
                            <label class="col-lg-2 control-label">Street Address</label>
                            <div class="col-lg-10">
                                <input type="text" name="address.street" class="form-control" placeholder="eg. &quot; A/502 Shivling Borivali West &quot;" id="maploc" value="<%= address.street %>">
                                <!--<input type="button" value="Geocode" id="generate">-->
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Area</label>
                            <div class="col-lg-10">
                                <input type="text" name="address.area" class="form-control" placeholder="Area" value="<%= address.area %>">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">City</label>
                            <div class="col-lg-10">
                                <input type="text" name="address.city" class="form-control" placeholder="City" value="<%= address.city %>">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">State</label>
                            <div class="col-lg-10">
                                <input type="text" name="address.state" class="form-control" placeholder="State" value="<%= address.state %>">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Country</label>
                            <div class="col-lg-10">
                                <input type="text" name="address.country" class="form-control" placeholder="Country" value="<%=address.country %>">
                            </div>
                        </div>

					  <div class="form-group">
						  <div class="col-lg-offset-2 col-lg-10">
							  <button type="submit" class="btn btn-success">Save</button>
							  <button type="button" class="btn btn-default">Cancel</button>
						  </div>
					  </div>
				  </form>
			  </div>
		  </section>
	  </aside>
	</div>
