<!DOCTYPE html>
<html lang="en">
	<head>
		<title>FoodBMG Admin Page</title>
		<meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/stylesheets/style.css" />
		<link rel="stylesheet" href="/admin/css/bootstrap.min.css" />
		<link rel="stylesheet" href="/admin/css/bootstrap-glyphicons.css" />
		<link rel="stylesheet" href="/admin/css/fullcalendar.css" />	
		<link rel="stylesheet" href="/admin/css/unicorn.main.css" />
		<link rel="stylesheet" href="/admin/css/unicorn.grey.css" class="skin-color" />
		<link rel="stylesheet" href="/admin/css/bootstrap-select.css" />
		<link rel="stylesheet" href="/admin/css/bootstrap-select.min.css" />
		<link rel="stylesheet" href="/admin/css/tagmanager.css" />
	</head>
	<body>
		<div id="header">
			<h1><a href="./dashboard.html">FoodBMG Admin</a></h1>	
			<a id="menu-trigger" href="#"><i class="glyphicon glyphicon-align-justify"></i></a>	
		</div>
		
		<div id="search">
			<input type="text" placeholder="Search here..."/><button type="submit" class="tip-right" title="Search"><i class="glyphicon glyphicon-search"></i></button>
		</div>
		<div id="user-nav">
            <ul class="btn-group">
                <li class="btn" ><a title="" href="#"><i class="glyphicon glyphicon-user"></i> <span class="text">Profile</span></a></li>
                <li class="btn dropdown" id="menu-messages"><a href="#" data-toggle="dropdown" data-target="#menu-messages" class="dropdown-toggle"><i class="glyphicon glyphicon-envelope"></i> <span class="text">Messages</span> <span class="label label-danger">5</span> <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a class="sAdd" title="" href="#">new message</a></li>
                        <li><a class="sInbox" title="" href="#">inbox</a></li>
                        <li><a class="sOutbox" title="" href="#">outbox</a></li>
                        <li><a class="sTrash" title="" href="#">trash</a></li>
                    </ul>
                </li>
                <li class="btn"><a title="" href="#"><i class="glyphicon glyphicon-cog"></i> <span class="text">Settings</span></a></li>
                <li class="btn"><a title="" href="login.html"><i class="glyphicon glyphicon-share-alt"></i> <span class="text">Logout</span></a></li>
            </ul>
        </div>
            
		<div id="sidebar">
			<!--<a href="#" class="hide"><i class="glyphicon glyphicon-home"></i> Dashboard</a>-->
			<ul>
				<li><a href="#"><i class="glyphicon glyphicon-home"></i> <span>Dashboard</span></a></li>
				<li class="submenu active open" ><a href="#"><i class="glyphicon glyphicon-th-list"></i> <span>Create</span></a>
				<ul>
					<li><a href="/admin/create/meal">Meal</a></li>
					<li class="active"><a href="#">Users</a></li>
					<li><a href="/admin/create/event">Events</a></li>
				</ul>
			</li>
				<li class="submenu" ><a href="#"><i class="glyphicon glyphicon-tint"></i> <span>Edit</span></a>
                <ul>
						<li><a href="/admin/meals">Meal</a></li>
						<li><a href="/admin/users">Users</a></li>
						<li><a href="/admin/events">Events</a></li>
				</ul></li>
				<li><a href="#"><i class="glyphicon glyphicon-pencil"></i> <span>Update</span></a></li>
				<li><a href="#"><i class="glyphicon glyphicon-th"></i> <span>View all</span></a></li>
            </ul>
		
		</div>
		
		<div id="style-switcher">
			<i class="glyphicon glyphicon-arrow-left"></i>
			<span>Style:</span>
			<a href="#grey" style="background-color: #555555;border-color: #aaaaaa;"></a>
            <a href="#light-blue" style="background-color: #8399b0;"></a>
			<a href="#blue" style="background-color: #2D2F57;"></a>
			<a href="#red" style="background-color: #673232;"></a>
            <a href="#red-green" style="background-image: url('img/demo/red-green.png');background-repeat: no-repeat;"></a>
		</div>

		<div id="content">
			<div id="content-header">
				<h1>Create a new user</h1>
				<div class="btn-group">
					<a class="btn btn-large" title="Manage Files"><i class="glyphicon glyphicon-file"></i></a>
					<a class="btn btn-large" title="Manage Users"><i class="glyphicon glyphicon-user"></i></a>
					<a class="btn btn-large" title="Manage Comments"><i class="glyphicon glyphicon-comment"></i><span class="label label-danger">5</span></a>
					<a class="btn btn-large" title="Manage Orders"><i class="glyphicon glyphicon-shopping-cart"></i></a>
				</div>
			</div>
			<div id="breadcrumb">
				<a href="index.html" title="Go to Home" class="tip-bottom"><i class="glyphicon glyphicon-home"></i> Home</a>
				<a href="#">User</a>
				<a href="#">Add</a>
			</div>
			<div class="container-fluid">
				<form action="user" method="post" name="createuser" id="createuser" class="form-horizontal">
				<div class="row">
					<div class="col-12">
						<div class="widget-box">
							<div class="widget-title">
								<span class="icon">
									<i class="glyphicon glyphicon-align-justify"></i>									
								</span>
								<h5>General Information</h5>
							</div>
							<div class="widget-content nopadding">
								
									<div class="form-group">
										<label class="control-label">First Name</label>
										<div class="controls">
											<input type="text" name="fname" id="fname" class="form-control input-small" placeholder="Please enter a first name" required/>
										</div>
									</div>
									<div class="form-group">
										<label class="control-label">Last Name</label>
										<div class="controls">
											<input type="text" name="lname" id="lname" class="form-control input-small" placeholder="Please enter a last name" required/>
										</div>
									</div>
									<div class="form-group">
										<label class="control-label">Email</label>
										<div class="controls">
											<input type="email" name="email" id="email" class="form-control input-small" placeholder="Please enter a valid email" required/>
										</div>
									</div>
									<div class="form-group">
										<label class="control-label">Password</label>
										<div class="controls">
											<input type="password" name="password" id="password" class="form-control input-small" placeholder="Please enter a password" required/>
										</div>
									</div>
									<div class="form-group">
										<label class="control-label">Bio</label>
										<div class="controls">
											<textarea class="form-control" name="bio" id="bio"></textarea>
										</div>
									</div>
									<div class="form-group">
										<label class="control-label">Phone</label>
										<div class="controls">
											<input type="number" name="phone" id="phone" class="form-control input-small" placeholder="Please enter a phone number"/>
										</div>
									</div>
									<div class="form-group">
										<label class="control-label">Avatar</label>
										<div class="controls">
											<input type="file" id="avatar" name="avatar"/>
											<input type="hidden" name="avatar_val" id="avatar_val" value=""  />
										</div>
									</div>
									<div class="form-group">
                                        <label class="control-label">Date Of Birth</label>
                                        <div class=" controls">
                                            <input type="text" name="dob" id="dob" data-date="01-01-1964" data-date-format="dd-mm-yyyy" value="" class="datepicker form-control input-small" required/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">Role</label>
                                        <div class="controls">
                                        	<input type="hidden" name="role" id="alignment" value="" required/>
											<div class="btn-group alignment" data-toggle="buttons-checkboxes	">
    											<button type="button" name="roles" id="homechef" class="btn">Home Chef</button>
    											<button type="button" name="roles" id="user" class="btn">User</button>
    											<button type="button" nme="roles" id="admin" class="btn">Admin</button>
											</div>
                                    	</div>
                                    </div>
                                    <div class="form-group">
										<label class="control-label">Is The User Active ?</label>
										<div class="controls">
											<label><input type="radio" name="is_active" value="yes" style="position:relative !important; opacity:100 !important;"/>Yes</label>
											<label><input type="radio" name="is_active" value="no" style="position:relative !important; opacity:100 !important;"/> No</label>
										</div>
									</div>
								
							</div>
						</div>						
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<div class="widget-box">
							<div class="widget-title">
								<span class="icon">
									<i class="glyphicon glyphicon-align-justify"></i>									
								</span>
								<h5>Address</h5>
							</div>
							<div class="widget-content nopadding">
								
									<div class="form-group">
										<label class="control-label">Street Address</label>
										<div class="controls">
											<input type="text" name="streetadd" id="streetadd" class="form-control input-small" required/>
										</div>
									</div>
									<div class="form-group">
										<label class="control-label">Area</label>
										<div class="controls">
											<input type="text" name="area" id="area" class="form-control input-small"/>
										</div>
									</div>
									<div class="form-group">
										<label class="control-label">City</label>
										<div class="controls">
											<select class="selectpicker" id="city" name="city" required>
												{{#each cities}}
												<option value="{{id}}">{{city}}</option>
												{{/each}}

											</select>
										</div>
									</div>
									<div class="form-group">
										<label class="control-label">State</label>
										<div class="controls">
											<input type="text" name="state" id="state" class="form-control input-small" required/>
										</div>
									</div>
									<div class="form-group">
										<label class="control-label">Country</label>
										<div class="controls">
											<input type="text" name="country" i="country" class="form-control input-small" required/>
										</div>
									</div>
									<div class="form-group">
										<label class="control-label">Pincode</label>
										<div class="controls">
											<input type="text" name="pincode" id="pincode" class="form-control input-small" required/>
										</div>
									</div>
									
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<div class="widget-box">
							<div class="widget-title">
								<span class="icon">
									<i class="glyphicon glyphicon-align-justify"></i>									
								</span>
								<h5>Tags</h5>
							</div>
							<div class="widget-content nopadding">
								<div class="form-group">
									<label class="control-label">Languages Spoken</label>
									<div class="controls">
										<input type="text" name="languageTag" id="languageTag" placeholder="Language Spoken" class="language-tag"/>
									</div>
								</div>
								<div class="form-group">
									<label class="control-label">Hobbies</label>
									<div class="controls">
										<input type="text" name="hobbiesTag" id="hobbiesTag" placeholder="Hobbies" class="hobbies-tag"/>
									</div>
								</div>
								<div class="form-actions">
									<button type="submit" class="btn btn-primary btn-small">Save</button> or <a class="text-danger" href="#">Cancel</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</form>
			</div>
		</div>
		
		<div class="row">
			<div id="footer" class="col-12">
				2012 - 2013 &copy; Adukala Admin. Brought to you by <a href="https://bitbrothers.in">bits</a>
			</div>
		</div>
            <script src="/admin/js/jquery.min.js"></script>
            <script src="/admin/js/jquery-ui.custom.js"></script>
            <script src="/admin/js/bootstrap.min.js"></script>
            <script src="/admin/js/bootstrap-colorpicker.js"></script>
            <script src="/admin/js/bootstrap-datepicker.js"></script>
            <script src="/admin/js/jquery.icheck.min.js"></script>
            <script src="/admin/js/bootstrap-select.js"></script>
            <script src="/admin/js/bootstrap-select.min.js"></script>
            <script src="/admin/js/jquery.jpanelmenu.min.js"></script>
            <script src="/admin/js/select2.min.js"></script>
            <script src="/admin/js/typeahead.js"></script>
            <script src="/admin/js/typeahead.min.js"></script>
            <script src="/admin/js/unicorn.js"></script>
            <script src="/admin/js/tagmanager.js"></script>
            <script src="/admin/js/unicorn.form_common.js"></script>
            <script type="text/javascript">
            	$(".btn-group button").click(function(){
            		$("input[name='role']").val($(this).text());
            	});
            	$("#avatar").change(function(){
            		$("input[name='avatar_val']").val($(this).text());
            	});
            	$('.selectpicker').selectpicker();
            	$('.selectpicker').change(function(){
            		$('#city').val($(this).val());
            	});
            	$(".language-tag").tagsManager({
            		hiddenTagListName: 'languageList'
            	});
            	$(".language-tag").typeahead([
	            	{
	            		name: 'languages',
	            		limit: 5,
	            		valueKey: 'name',
						remote: {
							url: 'http://127.0.0.1:3000/get/tags/language',
							filter: function (parsedResponse) {
								console.log(parsedResponse);
								return parsedResponse;
							}
						}
	            	}
            	]).on('typeahead:selected', function (e, d){
            		tagApi.tagsManager("pushTag", d.value);
            	});
            	$(".hobbies-tag").tagsManager({
            		hiddenTagListName: 'hobbiesList'
            	});
            	$(".hobbies-tag").typeahead([
	            	{
	            		name: 'hobbies',
	            		limit: 5,
	            		valueKey: 'name',
						remote: {
							url: 'http://127.0.0.1:3000/get/tags/hobbies',
							filter: function (parsedResponse) {
								console.log(parsedResponse);
								return parsedResponse;
							}
						}
	            	}
            	]).on('typeahead:selected', function (e, d){
            		tagApi.tagsManager("pushTag", d.value);
            	});
            	//$('#createuser').submit(function(){
            	//	var language = $("input[name='language-list']").val();
            	//	alert(language);
            	//});
            	/*
            	$("input[name='city']").typeahead([
  					{
    					name: 'city',  
						valueKey: 'city',
						remote: {
							url: 'http://127.0.0.1:3000/get/allcities',
							filter: function (parsedResponse) {
								console.log(parsedResponse);
								return parsedResponse;
							}
						},
						template: [
							'<p>{{city}}</p><p style="display : block;">{{id}}</p>'
						]

  					}
  				]);
  				$("input[name='city']").val()
  				*/
            </script>
	</body>
</html>


