<!DOCTYPE html>
<html lang="en">
	<head>
		<title>FoodBMG Admin Page</title>
		<meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/stylesheets/style.css" />
		<link rel="stylesheet" href="/admin/css/bootstrap.min.css" />
		<link rel="stylesheet" href="/admin/css/bootstrap-glyphicons.css" />
		<link rel="stylesheet" href="/admin/css/fullcalendar.css" />	
		<link rel="stylesheet" href="/admin/css/unicorn.main.css" />
		<link rel="stylesheet" href="/admin/css/unicorn.grey.css" class="skin-color" />
		<link rel="stylesheet" href="/admin/css/bootstrap-select.css" />
		<link rel="stylesheet" href="/admin/css/bootstrap-select.min.css" />
		<link rel="stylesheet" href="/admin/css/tagmanager.css" />
	</head>
	<body>
		<div id="header">
			<h1><a href="./dashboard.html">FoodBMG Admin</a></h1>	
			<a id="menu-trigger" href="#"><i class="glyphicon glyphicon-align-justify"></i></a>	
		</div>
		
		<div id="search">
			<input type="text" placeholder="Search here..."/><button type="submit" class="tip-right" title="Search"><i class="glyphicon glyphicon-search"></i></button>
		</div>
		<div id="user-nav">
            <ul class="btn-group">
                <li class="btn" ><a title="" href="#"><i class="glyphicon glyphicon-user"></i> <span class="text">Profile</span></a></li>
                <li class="btn dropdown" id="menu-messages"><a href="#" data-toggle="dropdown" data-target="#menu-messages" class="dropdown-toggle"><i class="glyphicon glyphicon-envelope"></i> <span class="text">Messages</span> <span class="label label-danger">5</span> <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a class="sAdd" title="" href="#">new message</a></li>
                        <li><a class="sInbox" title="" href="#">inbox</a></li>
                        <li><a class="sOutbox" title="" href="#">outbox</a></li>
                        <li><a class="sTrash" title="" href="#">trash</a></li>
                    </ul>
                </li>
                <li class="btn"><a title="" href="#"><i class="glyphicon glyphicon-cog"></i> <span class="text">Settings</span></a></li>
                <li class="btn"><a title="" href="login.html"><i class="glyphicon glyphicon-share-alt"></i> <span class="text">Logout</span></a></li>
            </ul>
        </div>
            
		<div id="sidebar">
			<!--<a href="#" class="hide"><i class="glyphicon glyphicon-home"></i> Dashboard</a>-->
			<ul>
				<li><a href="#"><i class="glyphicon glyphicon-home"></i> <span>Dashboard</span></a></li>
				<li class="active submenu open"><a href="#"><i class="glyphicon glyphicon-th-list"></i> <span>Create</span> <span class="label">3</span></a>
					<ul>
						<li class="active" ><a href="#">Meal</a></li>
						<li><a href="/admin/create/users">Users</a></li>
						<li><a href="/admin/create/event">Events</a></li>
					</ul>
				</li>
				<li class="submenu" ><a href="#"><i class="glyphicon glyphicon-tint"></i> <span>Edit</span></a>
                <ul>
						<li><a href="/admin/meals">Meal</a></li>
						<li><a href="/admin/users">Users</a></li>
						<li><a href="/admin/events">Events</a></li>
				</ul></li>
				<li><a href="#"><i class="glyphicon glyphicon-pencil"></i> <span>Update</span></a></li>
				<li><a href="#"><i class="glyphicon glyphicon-th"></i> <span>View all</span></a></li>
            </ul>
		
		</div>
		
		<div id="style-switcher">
			<i class="glyphicon glyphicon-arrow-left"></i>
			<span>Style:</span>
			<a href="#grey" style="background-color: #555555;border-color: #aaaaaa;"></a>
            <a href="#light-blue" style="background-color: #8399b0;"></a>
			<a href="#blue" style="background-color: #2D2F57;"></a>
			<a href="#red" style="background-color: #673232;"></a>
            <a href="#red-green" style="background-image: url('img/demo/red-green.png');background-repeat: no-repeat;"></a>
		</div>
		
		<div id="content">
			<div id="content-header">
				<h1>Create A New Meal</h1>
				<div class="btn-group">
					<a class="btn btn-large" title="Manage Files"><i class="glyphicon glyphicon-file"></i></a>
					<a class="btn btn-large" title="Manage Users"><i class="glyphicon glyphicon-user"></i></a>
					<a class="btn btn-large" title="Manage Comments"><i class="glyphicon glyphicon-comment"></i><span class="label label-danger">5</span></a>
					<a class="btn btn-large" title="Manage Orders"><i class="glyphicon glyphicon-shopping-cart"></i></a>
				</div>
			</div>
			<div id="breadcrumb">
				<a href="index.html" title="Go to Home" class="tip-bottom"><i class="glyphicon glyphicon-home"></i> Home</a>
				<a href="#">Meal</a>
				<a href="#" class="current">Add</a>
			</div>
			<div class="container-fluid">
				<form action="meal" method="POST" class="form-horizontal" name="createmeal" id="createmeal">
				<div class="row">
					<div class="col-12">
						<div class="widget-box">
							<div class="widget-title">
								<span class="icon">
									<i class="glyphicon glyphicon-align-justify"></i>									
								</span>
								<h5>Create a meal</h5>
							</div>
							<div class="widget-content nopadding">
								
									<div class="form-group">
										<label class="control-label">Meal Name</label>
										<div class="controls">
											<input type="text" class="form-control input-small" name="meal_name" id="meal_name"/>
										</div>
									</div>
									<div class="form-group">
										<label class="control-label">Meal Description</label>
										<div class="controls">
											<textarea class="form-control" name="meal_description" id="meal_description"></textarea>
										</div>
									</div>
									<div class="form-group">
										<label class="control-label">Hosted By</label>
										<div class="controls">
											<input type="text" name="hosted_by" id="hosted_by" placeholder="Enter Chef" class="hosted_by form-control input-small"/>
										</div>
									</div>
									<div class="form-group">
										<label class="control-label">Meal Cost</label>
										<div class="controls">
											<input type="number" class="form-control input-small" name="meal_cost" id="meal_cost"/>
										</div>
									</div>
									<div class="form-group">
										<label class="control-label">Max no of people</label>
										<div class="controls">
											<input type="number" class="form-control input-small" name="num_of_people" id="num_of_people"/>
										</div>
									</div>
									<div class="form-group">
										<label class="control-label">Advance lead time(no of days)</label>
										<div class="controls">
											<input type="number" class="form-control input-small" name="advance_time" id="advance_time"/>
										</div>
									</div>
							</div>
						</div>						
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<div class="widget-box">
							<div class="widget-title">
								<span class="icon">
									<i class="glyphicon glyphicon-align-justify"></i>									
								</span>
								<h5>Address</h5>
							</div>
							<div class="widget-content nopadding">
								
									<div class="form-group">
										<label class="control-label">Street Address</label>
										<div class="controls">
											<input type="text" name="streetadd" id="streetadd" class="form-control input-small" required/>
										</div>
									</div>
									<div class="form-group">
										<label class="control-label">Area</label>
										<div class="controls">
											<input type="text" name="area" id="area" class="form-control input-small"/>
										</div>
									</div>
									<div class="form-group">
										<label class="control-label">City</label>
										<div class="controls">
											<select class="selectpicker" id="city" name="city">
												{{#each cities}}
												<option value="{{id}}">{{city}}</option>
												{{/each}}

											</select>
										</div>
									</div>
									<div class="form-group">
										<label class="control-label">State</label>
										<div class="controls">
											<input type="text" name="state" id="state" class="form-control input-small" required/>
										</div>
									</div>
									<div class="form-group">
										<label class="control-label">Country</label>
										<div class="controls">
											<input type="text" name="country" i="country" class="form-control input-small" required/>
										</div>
									</div>
									<div class="form-group">
										<label class="control-label">Pincode</label>
										<div class="controls">
											<input type="text" name="pincode" id="pincode" class="form-control input-small" required/>
										</div>
									</div>
									
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<div class="widget-box">
							<div class="widget-title">
								<span class="icon">
									<i class="glyphicon glyphicon-align-justify"></i>									
								</span>
								<h5>Meal Menu</h5>
							</div>
							<div class="widget-content nopadding">
								<div id="dishTextBoxes">
								<div id="textBoxDiv1">
									<div class="form-group">
										<label class="control-label">Dish 1</label>
										<div class="controls">
											<input type="text" name="dish1" id="dish1" placeholder="Enter Dish Name"/>
										</div>
									</div>
								</div>
								</div>
								<input type='button' value='Add Button' id='addButton' />
								<input type='button' value='Remove Button' id='removeButton' />
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<div class="widget-box">
							<div class="widget-title">
								<span class="icon">
									<i class="glyphicon glyphicon-align-justify"></i>									
								</span>
								<h5>Tags</h5>
							</div>
							<div class="widget-content nopadding">
								<div class="form-group">
									<label class="control-label">Cuisines</label>
									<div class="controls">
										<input type="text" name="cuisineTag" id="cuisineTag" placeholder="Language Spoken" class="cuisineTag"/>
									</div>
								</div>
								<div class="form-group">
									<label class="control-label">Diet</label>
									<div class="controls">
										<input type="text" name="dietTag" id="dietTag" placeholder="Diet" class="dietTag"/>
									</div>
								</div>
								<div class="form-group">
									<label class="control-label">Meal Type</label>
									<div class="controls">
										<input type="text" name="mealTag" id="mealTag" placeholder="Meal Type" class="mealTag"/>
									</div>
								</div>
								<div class="form-group">
									<label class="control-label">Guests Preferred</label>
									<div class="controls">
										<input type="text" name="guestTag" id="guestTag" placeholder="Guests Preferred" class="guestTag"/>
									</div>
								</div>
								<div class="form-actions">
										<button type="submit" class="btn btn-primary btn-small">Save</button> or <a class="text-danger" href="#">Cancel</a>
									</div>
							</div>
						</div>
					</div>
				</div>
			</form>
			</div>
		</div>
		
		<div class="row">
			<div id="footer" class="col-12">
				2012 - 2013 &copy; Adukala Admin. Brought to you by <a href="https://bitbrothers.in">bits</a>
			</div>
		</div>
            <script src="/admin/js/jquery.min.js"></script>
            <script src="/admin/js/jquery-ui.custom.js"></script>
            <script src="/admin/js/bootstrap.min.js"></script>
            <script src="/admin/js/bootstrap-colorpicker.js"></script>
            <script src="/admin/js/bootstrap-datepicker.js"></script>
            <script src="/admin/js/jquery.icheck.min.js"></script>
            <script src="/admin/js/bootstrap-select.js"></script>
            <script src="/admin/js/bootstrap-select.min.js"></script>
            <script src="/admin/js/jquery.jpanelmenu.min.js"></script>
            <script src="/admin/js/select2.min.js"></script>
            <script src="/admin/js/typeahead.js"></script>
            <script src="/admin/js/typeahead.min.js"></script>
            <script src="/admin/js/unicorn.js"></script>
            <script src="/admin/js/tagmanager.js"></script>
            <script src="/admin/js/unicorn.form_common.js"></script>
            <script type="text/javascript">
            	$(window).load(function(){
					$(document).ready(function () {
					 var counter = 2;
					$("#addButton").click(function () {
					    if (counter > 5) {
					    	alert("Only 5 dishes allowed");
					    	return false;
					    }
					    $('<div/>',{'id':'textBoxDiv' + counter}).html(
					    	$('<div class="form-group"/>').html(
					        $('<label class="control-label"/>').html( 'Dish ' + counter)
					    )
					    .append('<input type="text">').attr({'id':'dish' + counter,'name':'dish' + counter, 'placeholder':'Enter Dish Name'}) )
					    .appendTo( '#dishTextBoxes' )       
					    counter++;
					    });
					    $("#removeButton").click(function () {
					        if (counter == 1) {
					            alert("No more textbox to remove");
					            return false;
					        }
					        counter--;
					        $("#textBoxDiv" + counter).remove();
					    });
					});
				});
				$('#createmeal').submit(function(){
					var i= 0;
					while(true) {
						var dish = Request.Form["dish"+i];
						if (dish == null) {
						//	break;
						}
						var dishValue = dish.ToString();
						$("input[name='dish'+i]").val(dishValue);
						i++;
					}
				});
				$(".cuisineTag").tagsManager({
            		hiddenTagListName: 'cuisineList'
            	});
            	$(".cuisineTag").typeahead([
	            	{
	            		name: 'cuisines',
	            		limit: 5,
	            		valueKey: 'name',
						remote: {
							url: 'http://127.0.0.1:3000/get/tags/cuisine',
							filter: function (parsedResponse) {
								return parsedResponse;
							}
						}
	            	}
            	]);
            	$(".dietTag").tagsManager({
            		hiddenTagListName: 'dietList'
            	});
            	$(".dietTag").typeahead([
	            	{
	            		name: 'diet',
	            		limit: 5,
	            		valueKey: 'name',
						remote: {
							url: 'http://127.0.0.1:3000/get/tags/diet',
							filter: function (parsedResponse) {
								return parsedResponse;
							}
						}
	            	}
            	]);
            	$(".mealTag").tagsManager({
            		hiddenTagListName: 'mealList'
            	});
            	$(".mealTag").typeahead([
	            	{
	            		name: 'meal_type',
	            		limit: 5,
	            		valueKey: 'name',
						remote: {
							url: 'http://127.0.0.1:3000/get/tags/mealtype',
							filter: function (parsedResponse) {
								return parsedResponse;
							}
						}
	            	}
            	]);
            	$(".guestTag").tagsManager({
            		hiddenTagListName: 'guestList'
            	});
            	$(".guestTag").typeahead([
	            	{
	            		name: 'guest',
	            		limit: 5,
	            		valueKey: 'name',
						remote: {
							url: 'http://127.0.0.1:3000/get/tags/guestsTag',
							filter: function (parsedResponse) {
								return parsedResponse;
							}
						}
	            	}
            	]);
            	$(".hosted_by").typeahead(
	            	{
	            		name: 'hosts',
	            		limit: 5,
	            		valueKey: 'fname',
						remote: {
							url: 'http://127.0.0.1:3000/admin/users',
							filter: function (parsedResponse) {
								return parsedResponse;
							}
						}
						//display: 'fname', 'hiddenTagListName',
	            	}
            	);
            </script>
	</body>
</html>
