
body {
	background: #ECF0F1;
	font-family: 'Roboto', sans-serif;
}

.turquoise {
	background: #1ABC9C;
}

.turquoise .navbar-brand,
.turquoise .navbar-nav > li > a {
	color: #ECF0F1;
}

.turquoise .navbar-brand:hover,
.turquoise .navbar-nav > li > a:hover,
.turquoise .navbar-nav > li > a:focus {
	color: #fff;
}

.turquoise .navbar-nav > .dropdown > a .caret {
	border-top-color: #ECF0F1;
	border-bottom-color: #ECF0F1;
}

.turquoise .navbar-nav > .dropdown > a:hover .caret {
	border-top-color: #fff;
	border-bottom-color: #fff;
}

.turquoise .navbar-nav > .active > a {
	background: #16A085;
	color: #fff;
}

.turquoise .navbar-nav>.active>a,
.turquoise .navbar-nav>.active>a:hover,
.turquoise .navbar-nav>.open>a,
.turquoise .navbar-nav>.open>a:hover,
.turquoise .navbar-nav>.open>a:focus,
.dropdown-menu>li>a:hover {
	background: #16A085;
	color: #fff;
}

.turquoise .input-group {
	width: 200px;
	color: #95A5A6;
}

.turquoise .navbar-form {
	padding: 0;
}

.turquoise .input-group-addon,
.turquoise .form-control {
	border: none;
}

.form-signin .form-signin-heading {
	margin-bottom: 10px;
	text-align: center;
	color: #2C3E50;
	font-family: 'Roboto', sans-serif;
	font-size: 45px;
	letter-spacing: -2px;
}

.form-signin .form-group {
	margin-bottom: 30px;
}

.form-signin .btns-group {
	text-align: center;
}

.form-signin,
.user-details {
	padding: 15px;
	margin: 0 auto;
}

.form-signin {
	max-width: 330px;
}

.form-signin .form-control {
	position: relative;
	font-size: 16px;
	height: auto;
	padding: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.form-signin input[type="text"] {
	margin-bottom: -1px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.form-signin input[type="password"] {
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.user-details {
	text-align: center;
}

.user-details .user-img {
	border-radius: 50%;
	overflow: hidden;
}

.user-details .user-name {
	margin-bottom: 10px;
	text-align: center;
	color: #2C3E50;
	font-family: 'Roboto', sans-serif;
	font-size: 45px;
	letter-spacing: -2px;
}

.user-details .empid {
	color: #777;
	font-size: 22px;
	font-weight: 300;
	margin-bottom: 5px;
}

.user-details .pos-loc {
	color: #7F8C8D;
	font-size: 15px;
}